/* Estilos específicos para la vista de configuración */

form {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: var(--radio-borde);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin-bottom: 2rem;
  border: 2px solid var(--color-primario);
  padding: 1rem;
  border-radius: var(--radio-borde);
  background-color: var(--color-fondo);
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 1rem;
}

h3 {
  color: var(--color-primario);
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
}

input[type="file"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="color"],
select {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-check-inline {
  margin-right: 1rem;
}


table.config-table img {
  border-radius: 50%;
}


@media (max-width: 768px) {
  table.config-table {
    font-size: 0.9rem;
  }
}
